@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    @apply bg-green-200
}


#login-container > form > input {
    @apply border-2 shadow-md my-2 md:my-3 py-3 px-5 rounded-lg
}

#navmodal-container > nav > a {
    @apply mb-4 flex flex-row items-center
}

#navmodal-container > nav > a > i {
    @apply mr-2
}


/* TransactionModal */
/* #edit-transaction-form{
    background-color: blueviolet;
} */

#edit-transaction-form > div {
    @apply flex flex-row mb-[5px] px-[15px]

}  

#edit-transaction-form > div > label {
    @apply w-[150px]
}

#edit-transaction-form > div > input {
    @apply px-[8px] py-[2px] rounded-md
}

#balance-selection > div {
    @apply underline mr-3 cursor-pointer text-xl
}