@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    @apply bg-green-200
}


#login-container > form > input {
    @apply border-2 shadow-md my-2 md:my-5 py-3 px-5 rounded-lg
}

#navmodal-container > nav > a {
    @apply mb-4 flex flex-row items-center
}